.button{
  background-color: black;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  width: 100px;
  font-size: 16px;
  color: #444;
  font-weight: bold;
  border: none;
  cursor: url(http://www.zingerbugimages.com/cursors/dice.cur), auto !important;
}